*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.news{
    display:flex; 
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: rgb(226,225,226);
    text-align: center;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(150,0,0,0.2)
}

.news:hover{
    box-shadow: 5px 5px 10px 10px rgba(70,0,0,0.5);
}
.headline{
    width: 100%;
    padding: 2px;
}

.like{
    display: block;
    width: auto;
    height: auto;
    border:0;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    color:rgb(0,0,0);
}

.like:hover, .like:active{
    background-color: rgba(255,100,0,0.3);
    color:darkred;
    transform: scale(1.5);
    transition: transform 0.2s ease;
}
.like.show{
    background-color: rgba(0,0,0,0.2);
    color: rgb(255,0,50);
    transform: scale(1.5);
}
.author{
    margin: 0;
    text-align: center;
    margin-right: 4px;
    justify-self: center;
}

@media screen and (max-width:1080px){
    .like:hover, .like:active{
        transform: unset;
        background-color: unset;
    }
    .like.show{
        background-color: rgba(0,0,0,0.2);
        color: rgb(255,0,50);
        transform: scale(1.5);
    }
}


    
