.top-container {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 1px;
    box-sizing: border-box;
    /*background: linear-gradient(0deg, rgba(123,196,225,0.1), rgba(15,190,226,1));*/
    background: linear-gradient(0deg, rgba(100,238,172,0.1) 5%, rgba(100,200,152,0.5) 100%);
    position: sticky;
    top:0;
}
.searchbar{
    display: flex;
    margin: 10px 10px 0px 10px;
    justify-content: center;
    height: 43px;
}

.top-container h3{
    padding-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(240,240,230);
    text-shadow: 2px 2px 2px rgb(180,180,180);
}

.searchbar input{
    width: 55%;
    height:43px;
    margin-right: 3px;
    border-radius: 5px;
}
.searchbar input:placeholder-shown{
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 4px;
    text-indent: 7px;
}

@media screen and (max-width:568px){
    .top-container h3{
        font-size: 2rem;
    }
    .searchbar, .searchbar input{
        height: 33px;
    }
    
    .searchbar input{
        width: 70%;
    }
}